<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget">
      <package pattern="System.*" />
      <package pattern="Microsoft.*" />
    </packageSource>
    <packageSource key="build">
      <package pattern="WixToolset.*" />
      <package pattern="WixInternal.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
